<%
  bg_color = get_css_background_value(fill)
  style = "background-color: #{bg_color}; background-image: #{bg_color};"
%>

<div class="A_PromoFill" data-promo-fill-slider-target="fill">
  <div class="Q_Fill" style="<%= style %>"></div>
</div>
