<div
  class="A_Meatball"
  data-promo-swatch-slider-target="meatballButton"
  data-promo-swatch-slider-swatch-index-param="<%= index %>"
  data-action="click->promo-swatch-slider#moveByIndex">
</div>