<div id="<%= dom_id fill %>">
  <p>
    <strong>Name:</strong>
    <%= fill.name %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= fill.color %>
  </p>

  <p>
    <strong>Swatch:</strong>
    <%= fill.swatch_id %>
  </p>

</div>
