<p style="color: red"><%= alert %></p>

<h1><%= t('hello') %></h1>

<h1>ADC Swatches</h1>
<p>Дом для ваших цветовых палитр</p>

<div id="new_subscription">
  <%= render "subscriptions/form" %>
</div>

<div class="S_PromoSwatchSlider" data-controller="promo-swatch-slider">
  <div class=W_PromoSwatchContent>
    <div class="W_PromoSwatchRail" data-promo-swatch-slider-target="swatchRail">
      <div class="O_PromoSwatch" data-promo-swatch-slider-target="swatch">
        <div class="A_PromoSwatchFill"></div>
        <div class="A_PromoSwatchFill"></div>
        <div class="A_PromoSwatchFill"></div>
      </div>

      <div class="O_PromoSwatch" data-promo-swatch-slider-target="swatch">
        <div class="A_PromoSwatchFill"></div>
        <div class="A_PromoSwatchFill"></div>
        <div class="A_PromoSwatchFill"></div>
      </div>

      <div class="O_PromoSwatch" data-promo-swatch-slider-target="swatch">
        <div class="A_PromoSwatchFill"></div>
        <div class="A_PromoSwatchFill"></div>
        <div class="A_PromoSwatchFill"></div>
      </div>
    </div>
  </div>

  <div class="W_PromoSwatchControls">
    <div class="W_PromoSwatchArrow">
      <div class="A_IconButton prev" data-promo-swatch-slider-target="prevButton" data-action="click->promo-swatch-slider#prevSwatch">A</div>
    </div>

    <div class="W_PromoSwatchMeatballs">
      <div class="A_Meatball" data-promo-swatch-slider-target="meatballButton" data-promo-swatch-slider-swatch-index-param="0" data-action="click->promo-swatch-slider#moveByIndex"></div>
      <div class="A_Meatball" data-promo-swatch-slider-target="meatballButton" data-promo-swatch-slider-swatch-index-param="1" data-action="click->promo-swatch-slider#moveByIndex"></div>
      <div class="A_Meatball" data-promo-swatch-slider-target="meatballButton" data-promo-swatch-slider-swatch-index-param="2" data-action="click->promo-swatch-slider#moveByIndex"></div>
    </div>

    <div class="W_PromoSwatchArrow">
      <div class="A_IconButton next" data-promo-swatch-slider-target="nextButton" data-action="click->promo-swatch-slider#nextSwatch">V</div>
    </div>
  </div>
</div>